border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n
  
box-shadow(args)
  -webkit-box-shadow args
  -moz-box-shadow args
  box-shadow args

transform(args)
  -moz-transform args
  -webkit-transform args
  -o-transform args
  -khtml-transform args

html, body
	@media(max-width $breakpoints.tablet)
		font-size 90%

h1
	color $dark
	font-size 7rem
	line-height 0.7em
	@media(max-width $breakpoints.mobile)
			font-size 5rem
	margin 0
	user-select none
h2
	font-size 3em
	line-height 0.6em
h1,h2
	font-family 'Tangerine', sans-serif
h1,h2,h3
	color $dark
	text-shadow 1px 3px 5px rgba(0,0,0,.3)
	text-align center
	margin 5px 10px 20px
p
	color $dark
	// display flex
	line-height 30px
	margin-bottom 20px

	img
		display block
		margin 20px auto
		box-shadow(-5px 5px 20px -2px rgba(0,0,0,0.5))
a
	display inline-block
	user-select none
	color $dark

	&:visited
		color $dark
	&:hover
		color $blue

ul
	line-height 30px
	list-style-type square
	margin 0 0 20px 20px