$white = #FFF
$yellow = #F9DEC9
$dark = rgb(58, 64, 90)
$dark-transparent = rgba(58, 64, 90, 0.2)
$peach = #E9AFA3
$robin = #AEC5EB
$blue = #5081d2

$breakpoints = {
	hd: 1280px
	desktop: 1024px
	tablet: 768px
	mobile: 400px
}