@import url('https://fonts.googleapis.com/css?family=Tangerine|Thasadith:400,700')

@import './resources/style/reset.styl'
@import './resources/style/vars.styl'
@import './resources/style/base.styl'
@import './resources/style/page.styl'