doctype html
head
	title= title
	link(rel="shortcut icon" href="/favicon.png")
	meta(content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1.0, maximum-scale=1" name="viewport")
	block head
body.home
	block content
		#background-overlay
		#body
			.content
				!= content
				#nav
					ul
						li
							a(href='/rsvp') RSVP
						li
							a(href='/story') Our Story
						li
							a(href='/event') Event
						li
							a(href='/venue') Venue
						li
							a(href='/accommodation') Accommodation
						li
							a(href='/registry') Registry