doctype html
head
	title= title
	link(rel="shortcut icon" href="/favicon.png")
	meta(content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1.0, maximum-scale=1" name="viewport")
	block head
body(class="info page_" + uri)
	block content
		#body
			a(href='/')#header-logo
				h1#ben-kelsey Ben + Kelsey
			h3 Hotel Depot Restaurant &nbsp;&nbsp; Sonoma, California &nbsp;&nbsp; September 14, 2019 at 5:00pm
			#nav
				ul
					li
						a(href='/rsvp') RSVP
					li
						a(href='/story') Our Story
					li
						a(href='/event') Event
					li
						a(href='/venue') Venue
					li
						a(href='/accommodation') Accommodation
					li
						a(href='/registry') Registry
			.content
				!= content
	block footer